/* #region ANIMATION */

/* Animation webkit */

@-webkit-keyframes myfirst {
  0% {
    margin-left: -235px;
  }

  90% {
    margin-left: 100%;
  }

  100% {
    margin-left: 100%;
  }
}

/* Animation */
@keyframes myfirst {
  0% {
    margin-left: -235px;
  }

  70% {
    margin-left: 100%;
  }

  100% {
    margin-left: 100%;
  }
}

/* #endregion */

/* #region FISH */
.fish-section {
  background-color: #98d4f3;
  padding: 1rem 0;
  overflow: hidden;
}

.fish {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/fish.png");
  width: 235px;
  height: 104px;
  margin-left: -235px;
  /* position: absolute; */
  animation: myfirst 24s;
  -webkit-animation: myfirst 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#fish {
  top: 120px;
  opacity: 0.4;
}

#fish2 {
  top: 260px;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
  opacity: 0.3;
}

/* #endregion */

/* #region UTILITY */

/* .main-section {
    gap: 3rem;
    text-align: center;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
} */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* #endregion */

/* #region LEFT */

.contact-info {
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-number,
.contact-email {
  gap: 1rem;
  padding-inline: 0.5rem;
}

/* .main-section .button {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 12px;
} */

.mid-image {
  width: 70vw;
  height: 2vh;
}

.section-header h1 {
  padding-bottom: 1rem;
}

/* #endregion */

/* #region FORM */
.form-section {
  position: relative;
  background-color: rgba(0, 52, 255, 0);
  /* display: none; */
}

form {
  width: 80vw;
  min-height: 50vh;
  position: relative;
  /* background-color: #4e5254; */
  text-align: start;
  gap: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 10.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0.5rem;
  background-color: rgba(0, 52, 255, 0);
  border-radius: 12px;
}

.form-group {
  width: 90%;
}

label {
  line-height: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 30px;
  pointer-events: none;
}

.form-group input,
.form-group textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 20px;
  padding: 10px 0 10px 20px;
  border-left: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 10px;
  display: block;
}

input {
  padding: 10px 10px 10px 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #b1b1b1;
  color: #b1b1b1;
  background: rgba(0, 0, 0, 0);
  opacity: 0.5;
  transition: 0.2s ease;
}

.input-submit {
  cursor: pointer;
  opacity: 0.9;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.22);
  color: var(--clr-neutral-800);
}

/* active state */

input:focus {
  outline: none;
  opacity: 1;
}

input:focus,
textarea:focus,
input:is(:-webkit-autofill, :autofill),
textarea:is(:-webkit-autofill, :autofill) {
  border: 2px solid #ffffff;
  transition: all 0.3s;
  background-color: rgb(11, 11, 11);
}

.input-submit:focus {
  /* transition: none; */
  border: none;
}

.error {
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

/* #endregion */

/* #region ANIMALS */
/* .nezumi {
    position: absolute;
    right: 50px;
   

    z-index: -1;
    height: 10vh;
}

.turtle {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(-1);
    height: 25vh;

    display: none;
} */

/* #endregion */

.hide {
  display: none;
}

.show {
  display: block;
}

/* #region MEDIA */

@media only screen and (min-width: 50em) {
  .flex-row {
    flex-direction: row;
    justify-content: center;
  }

  .contact-info {
    margin-top: 2rem;
    max-width: 35vw;
  }

  form {
    width: 50vw;
  }

  .mid-image {
    /* transform: rotate(90deg); */
    width: 0.5vw;
    height: 70vh;
    border: none;
    border-radius: 10px;
  }

  /* .turtle {
        display: block;
    } */
}

@media only screen and (min-width: 65em) {
  form {
    width: 30vw;
  }
}

/* #endregion */
