:root {
  --content-max-width: 60ch;

  --letter-spacing-sm: 0.05em;
  --letter-spacing-lg: 0.12em;
  --word-spacing: 0.16em;

  --line-sm: 1.5;
  --line-title: 1.05;

  --text-weight: 400;

  --font-family-main: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  --font-family-secondary: "Courier New", Courier, monospace;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-350: clamp(1rem, calc(0.96rem + 0.25vw), 1.2rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-450: clamp(1.18rem, calc(1.15rem + 0.5vw), 1.5rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  --clr-primary-400: hsl(219, 76%, 25%);
  --clr-neutral-900: hsl(219, 15%, 95%);
  --clr-neutral-800: hsl(219, 15%, 85%);
  --hero-mask: rgb(12, 15, 36);
  --link-standard: rgba(255, 255, 255, 0.12);
  --link-hover: rgb(76, 85, 103);
  --link-emergency: rgba(219, 16, 16, 0.42);
  --link-emergency-hover: rgba(236, 11, 11, 0.537);

  --sb-track-color: hwb(199 13% 75%);
  --sb-thumb-color: #bfbfbf;
  --sb-size: 10px;
}

/* #region Elements and Resets */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
.service-expanded-text {
  /* scroll-padding-top: 4rem; */
}
html,
body {
  height: 100vh;
  height: 100dvh;
  background-color: black;
}

body {
  font-family: var(--font-family-main);
  word-spacing: var(--word-spacing);
  font-size: var(--step-0);
  min-height: 100svh;
  line-height: var(--line-sm);
  letter-spacing: var(--letter-spacing-sm);

  color: var(--clr-neutral-800);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
span {
  max-width: var(--content-max-width);
}

ul {
  list-style-type: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: (var(--clr-neutral-800));
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .service-expanded-text {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* #endregion */

/* #region Header */
.mobile-header {
  height: 100dvh;
  background: var(--hero-mask);
  overflow: hidden;
}

.header-background {
  position: absolute;
  height: 100dvh;
  width: 100%;
  opacity: 0.2;
}

nav ul {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 5vh;
  height: 100%;
}

nav li {
  width: 90%;
}

.link-background {
  padding: 0.5rem 1rem;

  -webkit-box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 2px;

  letter-spacing: 0.04em;
  line-height: var(--line-sm);

  background-color: var(--link-standard);
  color: var(--clr-neutral-900);
}

.remote-link {
  background: var(--link-emergency);
  color: var(--clr-neutral-900);
}

.link-background:focus:before,
.link-background:hover:before {
  opacity: 0.3;
}

.link-background:hover,
.link-background:focus {
  background-color: var(--link-hover);
}

.remote-link:hover {
  background: var(--link-emergency-hover);
}

.link-background::after {
  content: "";
  position: absolute;
  bottom: 0;

  left: 0;
  height: 0.1em;
  background-color: var(--clr-neutral-900);
  opacity: 0.5;
  transition: opacity 300ms, transform 300ms, background-color 300ms;
}

.logo-link {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.link-background:hover::after,
.link-background:focus::after {
  opacity: 1;
  transform: translate3d(0em, 0.1em, 0em);
}

.logo-link:hover,
.logo-link:focus {
  opacity: 1;
  transform: translate3d(0em, 0.1em, 0em);
  transform: rotate(90deg);
  transform: scale(1.1);
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav span {
  text-transform: uppercase;
}
/* #region logo */
.logo-container {
  position: relative;
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

.logo-container img {
  position: relative;
  z-index: 2;
}
.logo-animation-outer {
  position: absolute;
  border-radius: 50%;
  top: 15%;
  left: 5%;
  width: 28%;
  height: 70%;
  background-color: black;
  overflow: hidden;
}

.logo-animation-inner {
  --blue: #73daff;
  --gray: #000000;
  width: 300%;
  height: 300%;
  position: absolute;
  animation: gra 25s infinite;
  -webkit-animation: gra 25s infinite;
  animation-timing-function: linear(0, 0.05, 1, 0.95, 0);
  background: linear-gradient(
    135deg,
    #fff 0%,
    #fff 45%,
    var(--sb-track-color) 55%,
    #fff 60%,
    #fff 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    #fff 0%,
    #fff 45%,
    var(--sb-track-color) 55%,
    #fff 60%,
    #fff 100%
  );
}

@keyframes gra {
  0% {
    left: -200%;
    top: -200%;
  }

  50% {
    left: 0%;
    top: 0%;
  }

  100% {
    left: -200%;
    top: -200%;
  }
}

.hero-top {
  display: grid;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  grid-template-areas:
    "logo"
    "caption"
    "nav";
}

.logo-nav_wrapper {
  grid-area: logo;
  padding-top: 1rem;
  padding-inline: 0.5rem;
}

.primary-nav {
  grid-area: nav;
}

.primary-nav ul {
  flex-direction: column;
}

.hero-top hr {
  display: none;
}

.caption {
  grid-area: caption;
}

.subtitle-description {
  grid-area: type;

  display: none;
}

/* #endregion */

.animal-container {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100vw;
  padding-inline: 1rem;
}

.animal-container img {
  filter: saturate(0.5);
}

.pup {
  height: 45vh;
  display: none;
}

.cat {
  height: 35vh;
  display: none;
}

.bird {
  height: 20vh;
}

.lizard {
  height: 15vh;
}

.mouse {
  height: 5vh;
}

.bird,
.lizard,
.mouse,
.cat {
  opacity: 0.6;
}

hgroup {
  padding: 1rem;
  padding-right: 10vw;
  margin: 0 auto;
  background: rgba(0, 52, 255, 0);
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 10.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 52, 255, 0.08);

  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  position: relative;

  z-index: 500;
}

.caption {
  text-align: center;
}

hr {
  width: 75vw;
  border: 0;
  border-top: 0.25vw solid #fff;
  margin: 1em 0;
}

.carrot {
  border-right: 0.07em solid #fff;
}

.typewrite {
  white-space: pre;
  pointer-events: none;
  cursor: default;
}

/* #endregion */
/* #region MAIN */

.background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/elec/conny-schneider-pREq0ns_p_E-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #region STICKY NAV */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;

  min-height: 0;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 1rem 0.5rem;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/elec/conny-schneider-pREq0ns_p_E-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky-header .logo-container {
  height: fit-content;
  margin: 0;
}

.sticky-header nav {
  margin: 0;
}

.sticky-header nav ul {
  flex-direction: row;
  min-height: fit-content;
  justify-content: center;
  gap: 2rem;
}

.sticky-header .link-background {
  /* border-radius: 50%; */
}

.sticky-header svg {
  width: 8rem;
}
.sticky-header nav span {
  display: none;
}

.sticky-mobile-logo {
  transform: scale(0.4);
}

.sticky-dsk-logo {
  display: none;
}

/* #endregion */

/* #region ABOUT */
.background-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.main-section {
  padding: 1rem;
}

.main-section .section-header {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;

  /* for glass */
  height: fit-content;
  overflow-x: hidden;
}

.main-section p {
  padding-inline: 1.5rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.align-left {
  text-align: left;
}

.underline-link {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

/* Fade in */
.underline-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--clr-neutral-900);
  opacity: 0.5;
  transition: opacity 300ms, transform 300ms;
}

.underline-link:hover::after,
.underline-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
/* #endregion */

/* #region SERVICES */

.services-header h2 {
  margin-bottom: 1rem;
}

.services-grid h3 {
  font-size: var(--step-0);
}

.glass-text {
  z-index: 10;
  position: relative;
}

.background-glass {
  background: rgba(0, 52, 255, 0);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 10.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.services-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
  padding: 1rem;
  overflow-y: hidden;
  z-index: 2;
}

.service-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: inherit;
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0.5rem 0;
  cursor: pointer;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 10.1);
}

.service-link:hover {
  box-shadow: rgba(191, 175, 175, 0.19) 0px 10px 20px,
    rgba(255, 255, 255, 0.23) 0px 6px 6px;
}

.service-text {
  display: none;
  padding: 2rem 0;

  align-items: center;
  flex-direction: column;
  transition: all 1s;
}

.services-button {
  margin: 1rem;
  width: 90%;
}

.services-button,
.service-text-button {
  color: inherit;
  background-color: var(--link-emergency);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease-in-out 0.3;
}

.service-text-button {
  background-color: transparent;
}

.service-text-button:hover {
  transform: scale(1.1);
}

.services-more {
  display: none;
}

.service-header-expanded {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding-inline: 1rem;
}

.service-icon {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: flex-start;
  align-items: baseline;
  transform: translateX(-10%);
}

.icon-expanded {
  transform: scale(1.5);
}

:modal {
  background: rgba(0, 52, 255, 0);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 10.1);
  backdrop-filter: blur(50px);
  /* box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); */
  -webkit-backdrop-filter: blur(50px);
  justify-self: center;
  align-self: flex-end;
  height: 90vh;
  width: 90vw;
  color: inherit;
  border: none;
}

.service-link .link-background {
}

.service-header-expanded h3 {
  font-size: var(--step-1);
}

:modal:open {
  animation: fade-in 0.5s ease-out;
}

:modal:close {
  animation: fade-out 0.5s ease-out;
}

.modal-open {
  overflow-y: hidden;
  position: relative;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* #endregion */

/* #region HOW */
.how-subtitle {
  max-width: var(--p-max-width, 45ch);
  padding-top: 1rem;
  text-align: left;
}

.how-subtitle span {
  font-style: italic;
}
/* #endregion */

/* #region WHO */
.who-grid {
  display: grid;
  gap: 2rem;
}

.who-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  backdrop-filter: blur(15px);

  transition: 0.5s;
  padding-block: 1rem;
  margin: 1rem;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%); */
  box-shadow: rgba(191, 175, 175, 0.19) 0px 10px 20px,
    rgba(13, 52, 21, 0.23) 0px 6px 6px;
}

.who-col p {
  padding-bottom: 2rem;
}

.who-col h3 {
  text-align: center;
}

/* #endregion */

/* #region PARTNERS */
.partners-header {
  text-align: center;
}

.partners-list {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  background: rgba(0, 52, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 10.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1rem;
}

.partners-col {
  display: grid;
  gap: 1rem;
}

.partners-col img {
  padding: 1vh;
  filter: grayscale(0.6);
  border-radius: 15px;
}

.partners-col div {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* #endregion */

/* #region CONTACT */
#contact {
  padding: 0;
}
.contact-image {
  background-image: url("img/elec/scott-rodgerson-PSpf_XgOM5w-unsplash.jpg");
  filter: grayscale(0.5);
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

.contact-number,
.contact-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hide-horse {
  display: none;
}

/* #endregion */
/* #endregion */

/* #region Footer */
footer {
  padding: 2rem;
}

.footer-flex {
  display: flex;

  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  gap: 2rem;
}

/* #endregion */

/* #region JS */
.hide {
  display: none;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

.service-header-expanded {
  padding: 2rem;
}

.clicked {
  /* background-color: var(--link-hover); */
  border: none;
}

/* #endregion */
/* #region MEDIA */
/* Mobile only */

@media only screen and (max-width: 30em) {
  /* .mobile-header {
    position: relative;
  }
  .mobile-header::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/elec/pexels-motherboard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  } */

  .header-background {
    /* display: none; */
  }
}

@media only screen and (max-width: 30em) and (min-height: 750px) {
  .hero-top {
    gap: 10dvh;
  }
}

@media only screen and (min-width: 25em) {
  nav ul {
    align-items: center;
  }
  .logo-nav_wrapper nav li {
    width: 50vw;
  }

  .sticky-header .link-background {
    padding: 0.5rem 0;
  }

  .primary-nav li {
    width: fit-content;
  }

  .sticky-header {
    justify-content: space-between;
    align-content: center;
    height: fit-content;
  }

  .sticky-header .logo-container {
    width: 25vw;
  }

  .sticky-header .link-background {
    border-radius: 2px;
  }

  .link-background::after {
    width: 100%;
  }

  .services {
    padding-inline: 2rem;
    margin: 0 auto;

    transition: translate 0.5s ease-in-out;
  }
}

/* 640px */
@media only screen and (min-width: 40em) {
  .primary-nav ul {
    flex-direction: column;
  }

  /* .caption {
    grid-area: caption;
  } */

  .typewrite {
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo-nav_wrapper nav {
    margin-top: -3rem;
  }

  .sticky-header + .main-content {
    padding-top: 1vh;
  }

  .sticky-dsk-logo {
    display: block;
  }

  .sticky-mobile-logo {
    display: none;
  }

  hr {
    width: 50vw;
  }

  .partners-list {
    justify-content: center;
    align-items: center;
  }

  .partners-col img {
    width: 30vw;
  }

  .who-grid {
    padding: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }
  .footer-flex {
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .copyright-break {
    display: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .icon-animation {
      --range-start: contain 0;
      --range-end: contain 100%;
      opacity: 0;
      animation: fade-in ease;
      animation-timeline: view(block);
      animation-range: var(--range-start) var(--range-end);
    }
    @supports (animation-timeline: scroll()) {
      .icon-animation {
        opacity: 0;
        animation: fade-in ease;
        animation-timeline: view(block);
        animation-range: contain 0 contain 100%;
      }
    }
  }

  @keyframes rotateAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 55em) {
  hr {
    transform: rotate(90deg);
    width: 6rem;
  }
  .cat {
    display: block;
  }

  .logo-nav_wrapper .logo-container {
    display: block;
    width: 50vw;
    margin: 0 auto;
  }

  .logo-nav_wrapper nav {
    margin-top: 0;
  }

  .logo-nav_wrapper nav ul {
    margin-left: 0;

    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .logo-nav_wrapper nav li {
    width: 20vw;
  }
}
/* 1030px */
@media only screen and (min-width: 65em) {
  .hero-top {
    grid-template-areas:
      "logo nav"
      "logo nav"
      "caption ."
      "type .";
  }
  .logo-nav_wrapper {
    width: 30vw;
  }

  .subtitle-description {
    position: relative;
    grid-area: type;
    transform: translateX(15%);
    display: block;
    z-index: 100000000;
  }

  .hero-top {
    gap: 1.3rem;
  }

  .primary-nav {
    padding: 2rem;
  }
  .logo-nav_wrapper nav li {
    width: auto;
  }

  hr {
    transform: rotate(90deg);
    width: 6rem;

    display: none;
  }

  h2 {
    font-size: var(--step-3);
  }

  .bird,
  .lizard,
  .mouse,
  .cat {
    opacity: 1;
  }
  .pup {
    display: block;
  }
  .sticky-header {
    padding: 0.3rem 3rem;
  }
  .sticky-header .logo-container {
    width: 13vw;
  }

  .partners-col img {
    width: 20vw;
  }

  .services-button {
    display: none;
  }

  .services-more {
    display: grid;
  }

  .flex-row {
    display: flex;
    justify-content: right;
    overflow-y: hidden;
    gap: 2rem;
  }

  .flex-row .hide-horse {
    display: block;
    width: 15vw;
    transform: scaleX(-1);
  }

  .contact .flex-center {
    width: 60vw;
  }
  .typewrite {
    font-size: var(--step-1);
  }

  .grid-shrink {
    /* width: 50vw;
    margin: 0; */
    /* transform: translate(-20%); */
  }

  :modal {
    justify-self: center;
    align-self: flex-end;
  }
}
/* 1282px */

@media only screen and (min-width: 80em) {
  .typewrite {
    font-size: var(--step-2);
  }
}

/* 1602px */
@media only screen and (min-width: 100em) {
  .primary-nav ul {
    flex-direction: row;
    justify-content: center;
  }

  .primary-nav {
    padding: 0;
  }

  nav li {
    width: fit-content;
  }
  .logo-nav_wrapper .logo-container {
    width: 40vw;
  }

  .services {
    width: 70vw;
  }

  :modal {
    width: 40vw;
  }
}

/* #endregion */

/* CSS */

/* CSS */

/* CSS */
.button-48 {
  appearance: none;
  background-color: var(--link-emergency);

  cursor: pointer;

  opacity: 1;
  outline: 0;
  padding: 1rem;
  border: none;
  border-radius: 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  align-self: flex-end;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: var(--link-emergency-hover);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 .close-button {
  z-index: 1;
  position: relative;
}

.close-button::before,
.close-button::after {
  content: "";
  display: block;
  margin-top: -3px;
  width: 20px;
  height: 3px;
  background: antiquewhite;
  border-radius: 1px;
}

.close-button::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-button::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
